* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #E8EBF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    width: 100%;
    min-width: 400px;
    height: 812px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 48px 20px;
    border-radius: 40px;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.25);
}

.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    gap: 20px;
    /* border: 1px solid #E8EBF4; */
}

.header-section img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    margin: 0;
    display: block;
    flex-shrink: 0;
}

.header-section-right{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: start;
    gap: 8px;
}

.header-section-right-username {
    font-size: 18px;
    font-weight: bold;
    color: #0C031D;
    line-height: 23px;
    letter-spacing: 0;
}

.header-section-right-designation {
    font-size: 18px;
    font-weight: regular;
    color: #0C031D;
    line-height: 23px;
    letter-spacing: 0;
}

.line-separator {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin: 32px 0px;
}

.menu-items-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* justify-content: start; */
    gap: 20px;
    /* margin-bottom: auto; */
}

.menu-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.menu-item-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    background-color: rgba(151, 161, 240, 0.24); 
}

.menu-item-text {
    font-size: 18px;
    font-weight: bold;
    color: #0C031D;
    line-height: 23px;
    letter-spacing: 0;
    margin-right: auto; 
}

.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 20px;
    margin-top: auto;
}

.bottom-section-item-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    /* background-color: rgba(151, 161, 240, 0.24);  */
}

