* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    max-width: 1512px;
    min-height: 982px;
    height: 982px;
    /* margin: 0 auto; */
    display: flex;
}

.app-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/Rectangle-6.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.content-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 478px;
    padding-top: 52px;
    gap: 20px;
}

.project-title-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 4px;
    background-color: white;
    padding: 20px 48px 20px 48px;
}

.project-title-rating-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

rating-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.number-of-reviews {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 16px;
    letter-spacing: 0%;
}

.project-title-text {
    font-size: 48px;
    font-weight: 700;
    color: #000;
    line-height: 57.6px;
    letter-spacing: 0%;
    text-align: left;
}

.product-details-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
    margin-left: 242px;
}

.product-key-details-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.product-key-details-item {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.product-key-details-item-text-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2px;
}

.product-key-details-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.product-key-details-item-value {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: #FFA41B;


}

.product-description {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #000;
    line-height: 31.4px;
    letter-spacing: 0%;
    text-align: left;
}

.ingredients-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;

    margin-top: 64px;
}

.ingredients-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}


.ingredients-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 14px;
}

.ingredients-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.ingredients-item input {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    flex-shrink: 0;
}

.ingredients-item input:checked {
    background-color: #FFA41B;
    border-color: #FFA41B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredients-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

.instructions-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    margin-top: 40px;
}

.instructions-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
}

.instructions-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 14px;
}

.instructions-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}

.instructions-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    margin: 0;
}

.recipe-footer-container {
    width: 296px;
    height: 78px;
    padding: 16px 20px;
    background-color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;

    position: absolute;
    bottom: -275px; 
    left: 0; 
}

