:root {
    --color-bg: #B9B79B;
    --color-text: #2A2C1F;
    --color-primary: #448899;
    /* #62AE9E
#448899
#587A65 */
    --color-primary-1: #62AE9E;
    --color-primary-2: #448899;
    --color-primary-3: #587A65;

    --font-xs: 12px;
    --font-sm: 14px;
    --font-base: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 24px;
    --font-3xl: 30px;
    --font-4xl: 36px;

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --space-8: 48px;
    --space-10: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    max-width: 1512px;
    min-height: 982px;
    height: 982px;
    /* margin: 0 auto; */
    display: flex;
}

.app-layout {
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    display: flex;
    flex-direction: column;
}

.image-carousel {
    width: 100%;
    height: 719px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 96px 0 96px 0;
    /* background-color: #2A2C1F; */
}

.image-carousel-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.image-carousel-main-image {
    width: 1083px;
    height: 527px;
    object-fit: cover;
}

.image-carousel-content {
    width: 100%;
    height: 243px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image-carousel-content-area {
    width: 235px;
    height: 243px;
    object-fit: cover;
}